<% include ../parts/header %>

<section class="container py-4">
   <h1 class="text-center">Edit campground</h1>
	<form action="/camps/<%=camp._id%>?_method=PUT" method="POST">
		<div class="d-flex justify-content-between ">
         <div class="mb-3">
            <a href="/camps/<%=camp._id%>" class="btn btn-outline-secondary">Back</a>
            <button type="submit" class="btn btn-primary">Save</button>
         </div>
		   <h6><small>Submitted by <%=camp.author.username%></small></h6>
		</div>
		<div class="row mb-3">
		   <div class="col d-flex mb-3 mb-lg-0 flex-column justify-content-between">
            <div>
               <div class="row">
                  <div class="form-group col">
                     <label for="title">Campground name:</label>
                     <input class="form-control" type="text" id="title" name="camp[name]" value="<%=camp.name%>" placeholder="Campground name">
                  </div>
                  <div class="form-group col-4">
                     <label for="image">$ Cost/night: </label>
                     <input class="form-control" type="number" id="price" name="camp[cost]" step="0.1" min="0" value="<%= camp.cost.toFixed(2) %>" required>
                  </div>
               </div>

               <div class="form-group">
                  <label for="info">Description:</label>
                  <textarea class="form-control" id="info" name="camp[info]" rows="25"><%-camp.info%></textarea>
               </div>
            </div>
		   </div>
		   <div class="col-lg-6">
               <div class="form-group">
                  <label for="image">Image URL:</label>
                  <input class="form-control" type="text" id="image" name="camp[image]" value="<%=camp.image%>">
               </div>
			  <img class="w-100" src="<%= camp.image %>">
         </div>
      </div>	
	</form>	
</section>
<% include ../parts/footer %>