<% include ../parts/header %>
		<header class="jumbotron">
			<h1>Campgrounds</h1>
			<p>View our hand-pciked campgrounds from all over the world</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/camps/new">Add camp</a>
			</p>
		</header>

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
		<div class="row text-center"> 
			<% camps.forEach(function(camp) { %>
				<div class="col-md-3 col-sm-6">
					<a href="/camps/<%=camp._id%>" class="">
						<div class="">
=======
		<div class="row text-center flex-wrap"> 
			<% camps.forEach(function(camp) { %>
				<div class="col-md-3 col-sm-6">
					<a href="/camps/<%=camp._id%>" class="thumbnail">
						<div class="caption">
>>>>>>> parent of b6ba26e... bootstrap 4 refactor
=======
		<div class="row text-center flex-wrap"> 
			<% camps.forEach(function(camp) { %>
				<div class="col-md-3 col-sm-6">
					<a href="/camps/<%=camp._id%>" class="thumbnail">
						<div class="caption">
>>>>>>> parent of b6ba26e... bootstrap 4 refactor
=======
		<div class="row text-center flex-wrap"> 
			<% camps.forEach(function(camp) { %>
				<div class="col-md-3 col-sm-6">
					<a href="/camps/<%=camp._id%>" class="thumbnail">
						<div class="caption">
>>>>>>> parent of b6ba26e... bootstrap 4 refactor
							<h4><%= camp.name %></h4>
						</div> <!-- caption -->
						<img src="<%= camp.image %>">
					</a> <!-- thumbnail -->
				</div> <!-- col-md-3 col-sm-6 -->
			<% }) %>

		</div> <!-- row -->
<% include ../parts/footer %>