<% include ../parts/header %>
   <section class="container py-4">
      <h1 class="text-center"><%= camp.name %></h1>
      <div class="d-flex justify-content-between ">
         <h5 class="">$<%= camp.cost.toFixed(2) %>/night</h4>
         <h6 class="m-0"><small>Submitted by <a href="/profile/<%= camp.author.id %>"><%= camp.author.username %></a></small></h6>
      </div>
      <div class="row mb-3 mx-0 shadow">
         <div class="col d-flex mb-3 flex-column justify-content-between align-items-center">
            <p class="lead"><%- camp.info %></p>
            <form action="/camps/<%=camp._id%>?_method=DELETE" method="POST">
               <a class="btn btn-outline-secondary" href="/camps">Back</a>
               <% if (session && (session.isAdmin || session._id.equals(camp.author.id))){ %>
                  <a class="btn btn-primary" href="/camps/<%=camp._id%>/edit">Edit</a>
                  <button type="submit" class="btn btn-danger">Delete</button>
               <% } %>
            </form>
         </div>
         <div class="col-lg-8 px-0">
            <img class="w-100" src="<%= camp.image %>">
            <div id="map"></div>
         </div>
      </div>

      <div class="rounded shadow p-2">
         <div class="d-flex justify-content-between">
            <h5 class="">Comments</h5>
            <a class="btn btn-primary margin-bottom" href="/camps/<%=camp._id%>/comment/new">Add comment</a>
         </div>

         <% camp.comments.forEach(function(comment){ %>
            <div class="card bg-light mt-2">
               <div class="card-header d-flex justify-content-between p-2">
                  <div>
                     <h5 class="d-inline">Posted by: <%= comment.author.username %></h5>
                     <% if (moment().diff(comment.date, 'days') < 1) { %>
                        <small class="text-muted">
                           (<%= moment(comment.date).fromNow(); %>)
                        </small>
                     <% } %>
                  </div>
                  <h6><%= moment(comment.date).format("DD[/]MM[/]YYYY HH[:]mm") %></h6>
               </div>
               <div class="card-body p-2">
                  <p class="card-text"><%- comment.text %></p>
                  <form action="/camps/<%=camp._id%>/comment/<%=comment._id%>?_method=DELETE" method="POST">
                     <% if (session && (session.isAdmin || session._id.equals(comment.author.id))){ %>
                        <a class="btn btn-primary btn-sm" href="/camps/<%=camp._id%>/comment/<%=comment._id%>/edit"><i class="fas fa-pen"></i></span></a>
                        <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                     <% } %>
                  </form>
               </div>
            </div>
         <% }) %>
      </div>
      
   </section>

   <script>
      var map;
      function initMap() {
         var lat = <%= camp.map.lat %>;
         var lng = <%= camp.map.lng %>;
         var center = {lat: lat, lng: lng};
         map = new google.maps.Map(document.getElementById('map'), {
            center: center,
            zoom: 15,
            mapTypeControl: false,
         });

         var contentString = `
            <strong>
               <%= camp.name %><br>
               <%= camp.map.address %><br>
               ` + lat +`, `+ lng +`
            </strong>
         `
         var infoWindow = new google.maps.InfoWindow({
            content: contentString
         });

         var marker = new google.maps.Marker({
            position: center,
            map: map,
         });

         marker.addListener('dblclick', function(){
            infoWindow.open(map, marker);
         });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFUKFLf5QOFHVtIqFqU1KTfJzc2_xWJM0&callback=initMap" async defer></script>

<% include ../parts/footer %>